
Skip to content
Pull requests
Issues
Marketplace
Explore
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link rel="shortcut icon" type="image/x-icon" href="teasers/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
<title>Spyridon Thermos</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
<!--<script type="text/javascript" src="js/hidebib.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40545479-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->


</head>

<body>
  <div class="container">
    <table width="900" border="0" align="center" cellpadding="20">
      <table width="90%" align="center" border="0" cellpadding="10">
        <tr>
          <td width="70%" valign="top">
            <p align="center">&nbsp;</p>

            <p align="center"><font size="6px">Georgia Gkioxari</font><br>
            georgia.gkioxari@gmail.com</p>

            <p>I am a research scientist at <a href="https://www.eng.ed.ac.uk/">University of Edinburgh</a>. I received my PhD from <a href="http://www.berkeley.edu/">UC Berkeley</a>, where I was advised by <a href="http://www.cs.berkeley.edu/~malik/">Jitendra Malik</a>. I did my bachelors in <a href="http://www.ece.ntua.gr/">ECE</a> at <a href="http://www.ntua.gr/">NTUA</a> in Athens, Greece, where I worked with <a href="http://cvsp.cs.ntua.gr/maragos/">Petros Maragos</a>.</p>

            <p>In the past, I have spent time at Google Brain and Google Research, where I worked with <a href="http://www.cs.toronto.edu/~ndjaitly">Navdeep Jaitly</a> and <a href="https://research.google.com/pubs/AlexanderToshev.html">Alexander Toshev</a>.</p>

            <p> <a href="cv_gkioxari.pdf"><img src="icons/cv.png" height="16"></a> / 
                <a href="https://www.linkedin.com/in/georgia-gkioxari-16967b20" target="_blank" ><img src="icons/linkedin.png" height="16"></a> / 
                <a href="https://scholar.google.com/citations?user=kQisE-gAAAAJ&hl=en" target="_blank"><img src="icons/google_scholar.png" height="16"></a> /
                <a href="https://github.com/gkioxari/" target="_blank" ><img src="icons/github_alt.png" height="16"></a> 
            </p>
          </td>
          <td width="30%"><div class="instructorphoto"><img src="teasers/me_in_mexico.jpg" id="georgia"></div></td>
        </tr>
      </table>
    </table>
  </div>
  <br>

  <div class="container">
    <table width="90%" border="0" align="center" cellpadding="20">
    <h2>News</h2>
      <div class="news">
        <ul>
         <li><span> At ICCV 2019, I am giving a talk at the <a href="http://picdataset.com/challenge/index/">Person In Context</a> workshop, the <a href="https://sites.google.com/view/gmdl2019/home">Geometry Meets Deep Learning</a> workshop, as well as the </a>
         <a href="https://alexander-kirillov.github.io/tutorials/visual-recognition-iccv19/">Visual Recognition for Images, Video and 3D</a> tutorial.
         <li><span> At CVPR 2019, I gave at talk at the <a href="https://sites.google.com/view/sem-vis-nav">Deep Learning for Visual Navigation</a> workshop and the <a href="https://motchallenge.net/workshops/bmtt2019/program.html">Benchmarking Multi-Target Tracking: How crowded can it get?</a> workshop. Slides are shared at the workshops' webpages.
         <li><span> I am excited to be (a tiny) part of the <a href="https://aims-ammi.com/">African Master's of Machine Intelligence</a> at AIMS (<a href="teasers/ammi.jpg">pic</a>)</span></li>
        </ul>
      </div>
    </table>
  </div>
  <br>

  <div class="container">
    <h2> Publications </h2>

    <div class="publication">
      <table width="900" align="center" border="0" cellpadding="0">
        <td width="25%" valign="top"><img src="teasers/meshrcnn.gif" alt="game" width="150" height="90" style="border-style: none">
        <td width="75%" valign="top">
          <p><a href="https://arxiv.org/pdf/1906.02739.pdf"><heading>Mesh R-CNN</heading></a><br>
          <strong> Georgia Gkioxari</strong>, <a href="https://people.eecs.berkeley.edu/~malik/"> Jitendra Malik</a>, <a href="https://cs.stanford.edu/people/jcjohns/"> Justin Johnson</a><br>
          <em>International Conference of Computer Vision (ICCV)</em>, 2019 <br>
          
          <div class="paper" id="meshrcnn">
            <a href="https://arxiv.org/abs/1906.02739">arxiv</a> /
            <a href="https://docs.google.com/presentation/d/18yd22C2RCs_dACrRL01r1eqHq9FrGwPXQAokq6QqSjE/edit?usp=sharing">examples</a> /
            <a shape="rect" href="javascript:togglebib('meshrcnn')" class="togglebib">bibtex</a>
            <pre xml:space="preserve">
@article{meshrcnn,
Title={Mesh R-CNN},
Author={Georgia Gkioxari, Jitendra Malik, Justin Johnson},
Journal={ICCV},
Year={2019}}
            </pre>             
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>
    
  <br>

  <div class="container">

  </div>
  <br>


<script xml:space="preserve" language="JavaScript">
hideallbibs();
</script>

          
</body>
</html>
