<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link rel="shortcut icon" type="image/x-icon" href="assets/images/deepArtMe.jpg" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
<title>Spyridon Thermos</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
<!--<script type="text/javascript" src="js/hidebib.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40545479-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->


</head>

<body>
  <div class="container">
    <table width="900" border="0" align="center" cellpadding="20">
      <table width="90%" align="center" border="0" cellpadding="10">
        <tr>
          <td width="70%" valign="top">
            <p align="center">&nbsp;</p>

            <p align="center"><font size="6px">Spyridon Thermos</font><br>
            sthermos "at" ed.ac.uk</p>

            <p>I am a researcher at <a href="https://www.eng.ed.ac.uk/">IDCOM, University of Edinburgh</a> and a PhD student at <a href="https://www.e-ce.uth.gr/">ECE, University of Thessaly</a>, advised by <a href="https://faculty.e-ce.uth.gr/gpotamianos/">Gerasimos Potamianos</a>. Bachelors and Masters from the same the same university.</p>

            <p>In the past, I have spent time at the <a href="https://vcl.iti.gr/">Visual Computing Lab</a> of CERTH, where I worked with <a href="https://www.iti.gr/iti/people/Petros_Daras.html">Petros Daras</a> who co-supervised my PhD.</p>

            <p> <a href="cv_spthermo.pdf"><img src="assets/icons/cv.png" height="16"></a> / 
                <a href="https://uk.linkedin.com/in/spirosthermos" target="_blank" ><img src="assets/icons/linkedin.png" height="16"></a> / 
                <a href="https://scholar.google.gr/citations?hl=el&user=AySuDPYAAAAJ&view_op=list_works&sortby=pubdate" target="_blank"><img src="assets/icons/google_scholar.png" height="16"></a> /
                <a href="https://github.com/spthermo/" target="_blank" ><img src="assets/icons/git.png" height="16"></a> 
            </p>
          </td>
          <td width="30%"><div class="instructorphoto"><img src="assets/images/deepArtMe.jpg" id="spiros"></div></td>
        </tr>
      </table>
    </table>
  </div>
  <br>

  <div class="container">
    <table width="90%" border="0" align="center" cellpadding="20">
    <h2>News</h2>
      <div class="news">
        <ul>
          <li><span> October 2019 Joined IDCOM @University of Edinburgh.
          <li><span> July 2019 Our paper on Self-supervised Deep Depth Denoising has been accepted @ICCV 2019 (Seoul).
          <li><span> February 2019 I'm serving as a reviewer for ICIP 2019.</span></li>
        </ul>
      </div>
    </table>
  </div>
  <br>

  <div class="container">
    <h2> Publications </h2>

    <div class="publication">
      <table width="900" align="center" border="0" cellpadding="0">
        <td width="25%" valign="top"><img src="assets/images/graphical_abstract.png" alt="cviu" width="150" height="140" style="border-style: none">
        <td width="75%" valign="top">
          <p><a href="https://www.sciencedirect.com/science/article/pii/S1077314219301432?via%3Dihub"><heading>Deep sensorimotor learning for RGB-D object recognition</heading></a><br>
          S. Thermos, G.T. Papadopoulos, P. Daras, G. Potamianos<br>
          <em>Computer Vision and Image Understanding (CVIU)</em>, 2019 <br>
@article{thermos2018attention,
  author       = "S. Thermos and G.T. Papadopoulos and P. Daras and G. Potamianos",
  title        = "Deep sensorimotor learning for RGB-D object recognition",
  journal    = "Computer Vision and Image Understanding",
  year         = "2019",
  doi         =   "10.1016/j.cviu.2019.102844"}
            </pre>             
          </div>
        </td> 
        </td>
      </table>
      
      <table width="900" align="center" border="0" cellpadding="0">
        <td width="25%" valign="top"><img src="assets/images/poisson.png" alt="iccv" width="150" height="140" style="border-style: none">
        <td width="75%" valign="top">
          <p><a href="https://arxiv.org/pdf/1909.01193.pdf"><heading>Self-Supervised Deep Depth Denoising</heading></a><br>
          V. Sterzentsenko*, L. Saroglou*, A. Chatzitofis*, S. Thermos*, N. Zioulis*, A. Doumanoglou, D. Zarpalas, P. Daras<br>
          <em>International Conference of Computer Vision (ICCV)</em>, 2019 <br>
@inproceedings{sterzentsenko2019denoising,
  author       = "Vladimiros Sterzentsenko and Leonidas Saroglou and Anargyros Chatzitofis and Spyridon Thermos and Nikolaos Zioulis and Alexandros Doumanoglou and Dimitrios Zarpalas and Petros Daras",
  title        = "Self-Supervised Deep Depth Denoising",
  booktitle    = "ICCV",
  year         = "2019"}
            </pre>             
          </div>
        </td> 
        </td>
      </table>
    
    <table width="900" align="center" border="0" cellpadding="0">
        <td width="25%" valign="top"><img src="assets/images/main.png" alt="icip" width="150" height="90" style="border-style: none">
        <td width="75%" valign="top">
          <p><a href="https://ieeexplore.ieee.org/document/8451158"><heading>Attention-enhanced Sensorimotor Object Recognition</heading></a><br>
          S. Thermos, G.T. Papadopoulos, P. Daras, G. Potamianos<br>
          <em>International Conference on Image Processing (ICIP)</em>, 2018 <br>
@inproceedings{thermos2018attention,
  author       = "S. Thermos and G.T. Papadopoulos and P. Daras and G. Potamianos",
  title        = "Attention-enhanced Sensorimotor Object Recognition",
  booktitle    = "ICIP",
  year         = "2018"}
            </pre>             
          </div>
        </td> 
        </td>
      </table>

<table width="900" align="center" border="0" cellpadding="0">
        <td width="25%" valign="top"><img src="assets/images/magn.jpg" alt="icip" width="150" height="150" style="border-style: none">
        <td width="75%" valign="top">
          <p><a href="http://openaccess.thecvf.com/content_cvpr_2017/papers/Thermos_Deep_Affordance-Grounded_Sensorimotor_CVPR_2017_paper.pdf"><heading>Deep Affordance-grounded Sensorimotor Object Recognition</heading></a><br>
          S. Thermos, G.T. Papadopoulos, P. Daras, G. Potamianos<br>
          <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2017 <br>
@inproceedings{thermos2018attention,
  author       = "S. Thermos and G.T. Papadopoulos and P. Daras and G. Potamianos",
  title        = "Deep Affordance-grounded Sensorimotor Object Recognition",
  booktitle    = "CVPR",
  pages = "6167-6175"
  year         = "2017"}
            </pre>             
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>
    
  <br>

  <div class="container">

  </div>
  <br>


<script xml:space="preserve" language="JavaScript">
hideallbibs();
</script>

          
</body>
</html>
